[2017-01-23 15:10] roll opened #1 "RFC: Development Process [draft]"
# Development Process [draft]

This document proposes a process to work on the technical side of the Frictionless Data project. The goal - have things manageable for a minimal price.
## Project

The specific of the project is a huge amount of components and actors (repositories, issues, contributors etc). The process should be effective in handling this specific.
## Process

The main idea to focus

[2017-01-23 15:11] roll opened #2 "RFC: Stack Reference [draft]"
# Stack Reference [draft]
## Architecture

![frictonless data 1](https://cloud.githubusercontent.com/assets/557395/17673886/d368f642-632b-11e6-9b59-3021952f09ca.png)
## Language
- row number - row number starting from 1
- col number - column number starting from 1
- headers - array of column names
- row - array of column values
- keyed row - dictionary of column values
- extended row - array conta

[2017-01-24 06:27] pwalsh opened #3 "Implement Frictionless Data specs v1 in core libs"
# Description

No good having a spec with no implementation! We need to ensure coverage in the core libraries.

# Tasks

- [x] implement changes in Python/JavaScript
  - [x] tableschema-py
  - [x] datapackage-py
  - [x] tableschema-js
  - [x] datapackage-js
- [x] Open a v1 issue on each partner library, with a clear task list of what needs to be changed for v1 update - MOVED https://github.com/fri

[2017-01-24 06:27] pwalsh opened #4 "Apply defaults from JSON Schema specs"
http://python-jsonschema.readthedocs.io/en/latest/faq/#why-doesn-t-my-schema-that-has-a-default-property-actually-set-the-default-on-my-instance

I've used defaults in the specs.

---

See also - https://github.com/frictionlessdata/datapackage-py/pull/138

---

# Tasks

- [x] apply defaults
  - [x] tableschema-py
  - [x] datapackage-py
  - [x] tableschema-js
  - [x] datapackage-js

[2017-02-07 09:19] roll opened #5 "Start to publish next versions of jsontableschema as tableschema in package registries"
# Overview

Now we have our spec renamed - http://specs.frictionlessdata.io/table-schema/

[2017-02-07 12:44] roll commented on #2
MERGED
https://github.com/frictionlessdata/stack/blob/master/README.md

[2017-02-07 12:44] #2 closed, assigned to nobody

[2017-02-07 12:45] roll commented on #1
MERGED
https://github.com/frictionlessdata/stack/blob/master/README.md

[2017-02-07 12:45] #1 closed, assigned to nobody

[2017-02-07 16:14] roll opened #6 "Design documentation infrastructure"
# Overview

TBD

PS.
Moved from https://github.com/frictionlessdata/docs/issues/1

[2017-02-10 07:47] roll opened #7 "Fix umd library names for javascript packages"
# Overview

For now it uses upper case starting letter for module names.

# Tasks

- [x] ~~tableschema~~ (https://github.com/frictionlessdata/jsontableschema-js/issues/60)
- [x] datapackage

[2017-02-10 23:40] danfowler commented on #5
@roll

- [ ] Update all descriptions with references to dataprotocols.org to instead point to specs.frictionlessdata.io equivalents (e.g. https://pypi.python.org/pypi/jsontableschema/0.9.0)

[2017-03-20 07:09] roll commented on #7
FIXED/MOVED

[2017-03-20 07:09] #7 closed, assigned to roll

[2017-03-20 07:13] roll opened #8 "Update specs.frictionlessdata.io links in libraries"
# Overview

There was changes in domain names.

# Tasks

- [x] Update all descriptions with references to dataprotocols.org to instead point to specs.frictionlessdata.io equivalents (e.g. https://pypi.python.org/pypi/jsontableschema/0.9.0)
  - [x] tableschema-py
  - [x] datapackage-py
  - [x] tableschema-js
  - [x] datapackage-js

[2017-03-20 07:14] roll commented on #5
SPLIT
- #8
- https://github.com/frictionlessdata/jsontableschema-py/issues/148
- https://github.com/frictionlessdata/jsontableschema-js/issues/60

[2017-03-20 07:14] #5 closed, assigned to roll

[2017-03-20 07:44] roll opened #9 "Put in order javascript libraries"
# Overview

We have many javascript libraries - https://github.com/frictionlessdata?language=javascript&q=&type=&utf8=%E2%9C%93

- some of them should be deprecated after `datapackage-js` will be ready (merged)
- not merged ones should be better described with some docs in readme

# Tasks

- [x] deprecate `datapackage-registry-js` (`datapackage.Profiles`)
- [x] deprecate `datapackage-validate-js`

[2017-03-21 16:51] roll opened #10 "Consider Windows/OSX testing"
# Overview

For now our core libs is tested only under Unix. There was attempts to start Windows/OSX testing but it doesn't work for now:
- https://github.com/frictionlessdata/datapackage-py/issues/64
- https://github.com/frictionlessdata/datapackage-py/issues/61

I doubt about adding Windows/OSX tests for all our libs. But I think there could some integration tests with Windows/OSX setup (for exa

[2017-03-28 16:04] roll opened #11 "Update tableschema plugins to work with renamed core"
# Overview

In following to renaming `jsontableschema` to `tableschema` we should update plugins.

# Tasks

- [ ] https://github.com/frictionlessdata/jsontableschema-sql-py
- [ ] https://github.com/frictionlessdata/jsontableschema-bigquery-py
- [ ] https://github.com/frictionlessdata/jsontableschema-pandas-py

[2017-04-18 13:27] roll commented on #4
DONE

[2017-04-18 13:27] #4 closed, assigned to roll

[2017-04-18 13:28] roll commented on #8
DONE

[2017-04-18 13:28] #8 closed, assigned to roll

[2017-04-18 13:31] roll opened #12 "Open a specs-v1 issue on each partner library"
# Overview

We've updated Python/JavaScript implementations but we also have:
- Ruby

# Tasks

- [x] wait when specs-v1 itself will be ready to work with (data/path in v1.rc2, jsonschema tweask, display tweaks etc)
- [x] open a v1 issue on each partner library, with a clear task list of what needs to be changed for v1 update

[2017-04-18 13:34] roll commented on #3
DONE
(partner lib issue creation MOVED to https://github.com/frictionlessdata/stack/issues/12)

[2017-04-18 13:34] #3 closed, assigned to roll

[2017-06-22 17:14] roll opened #13 "Reconsider `validate` functions behaviour"
# Overview

See discussion- https://github.com/frictionlessdata/implementations/commit/a87f2c988f05c4cdcd72925dd459345e420c15f3

[2017-06-22 20:49] pwalsh commented on #13
I'd like to hear what @amercader @akariv @vitorbaptista @brew think.

For me, we shouldn't standardise how exceptions are produced and consumed across different languages. We should follow the idioms of any language.

Also, we shouldn't standardise just based on the same method/function name across different libraries - for example `validate` does not have to "mean" exactly the same thing in Table

[2017-06-22 21:37] roll commented on #13
@pwalsh
I think that's confusion I didn't have in mind like cross-all-languages unification (esp. lang idioms related). I had some doubts how to incorporate `goodtables.validate` function but per https://github.com/frictionlessdata/goodtables-js/pull/17 and your comment on (1) it seems acceptable solution without changing other `validate` behavior. So I'm pretty happy to go this way.

I've created

[2017-06-22 21:45] pwalsh commented on #13
@roll let's get some feedback from others first. I'm not coding daily so I think it is good to get feedback from some other team members :).

[2017-06-23 09:00] vitorbaptista commented on #13
I agree on using the specific language construct. I doubt many people would use the implementations in more than one language, so it's more important to make each implementation feel "native" to its language, than to keep them consistent across languages.

A somewhat related topic on exceptions: make sure that the user is able to catch a single exception class to handle any exception thrown by our

[2017-06-23 09:05] roll commented on #12
DONE
- https://github.com/frictionlessdata/tableschema-rb/issues?q=is%3Aopen+is%3Aissue+label%3Acurrent
- https://github.com/frictionlessdata/datapackage-rb/issues?q=is%3Aopen+is%3Aissue+label%3Acurrent

Only Pyhton/JavaScript/Ruby implementations need it because others start after specs-v1 release.

[2017-06-23 09:05] #12 closed, assigned to roll

[2017-06-26 08:02] #13 closed, assigned to roll

[2017-06-26 08:04] roll commented on #13
I've reverted changes and added a preface pointing out that we use Python idioms by default - https://github.com/frictionlessdata/implementations#interface

Please re-open if further discussion is needed.

[2017-07-05 05:54] roll opened #15 "Review and provide feedback for PHP implementations"
# Overview

PHP implementations is mostly ready for review.

[2017-07-06 17:29] roll commented on #15
DONE
https://github.com/frictionlessdata/datapackage-php/issues/18
https://github.com/frictionlessdata/datapackage-php/issues/19
https://github.com/frictionlessdata/datapackage-php/issues/20
https://github.com/frictionlessdata/tableschema-php/issues/25
https://github.com/frictionlessdata/tableschema-php/issues/26
https://github.com/frictionlessdata/tableschema-php/issues/27

[2017-07-06 17:29] #15 closed, assigned to roll

[2017-07-06 17:48] pwalsh commented on #15
thank you very much @roll !

[2017-07-11 05:28] roll commented on #11
@vshih
I've prioritized it but still it could take some time to address so for now prev1 could be used with plugins.

[2017-07-11 17:08] vshih commented on #11
Okay thanks.  Would that be v0.10.1?

[2017-07-13 08:04] OriHoch commented on #15
thanks @roll  for your feedback

[2017-07-13 08:18] roll commented on #15
thanks @OriHoch you're doing a great work!

[2017-09-04 12:42] roll opened #16 "Support ODO for data packages in Python?"
# Overview

That's issue probably for some composite integration using `tableschema` storage for ODO.

---

_From @femtotrader_

Hello,

maybe you should consider to add support to odo
http://odo.readthedocs.org/
so it will become possible have several outputs / inputs :
- get a Pandas DataFrame (see also https://github.com/frictionlessdata/datapackage-py/issues/73 )
- store to a database supporte

[2017-09-04 12:48] roll opened #17 "Data synchronisation on storages level?"
# Overview

Here is some high-level proposal to sync data using `tableschema` storages.

---

_From @sirex on May 10, 2016 11:58_

When integrating external data sources in to your project, usually external data is imported into an internal database.

Since external data can be updated frequently, usually you want to update you internal replica as soon as possible.

Like `git pull` for code, I wan

[2017-09-04 12:54] roll opened #18 "Runnable data packages?"
# Overview

Proposal for runnable data packages.

---

_From @psychemedia_

I was wondering if anyone has looked at toolchains that support the creation of *ad hoc* working environments around a particular environment.

For example, I have [a recipe](http://www.f1datajunkie.com/2017/04/a-homebrew-ergast-f1-data-science.html) for creating an analysis environment that links and launches RStudio conn

[2017-09-04 13:10] roll opened #19 "Provide profile version in tableschema/datapackage"
# Overview

Libraries like `tableschema` and `datapackage` are shipped with specs profiles. But for now there is no API to know which profile version is used.

Blocked by https://github.com/frictionlessdata/specs/issues/444

---

_From @simleo_
Is there a way to find out which version of the specs a given datapackage-py release implements? For instance, if I `pip install datapackage==0.8.9` and us

[2017-09-04 13:47] roll opened #20 "Consider alternative storage backends for large files on disk"
# Overview

Here is a proposal for alternative storages for extra large files.

---

_From @danfowler_

- [ ] HDF5 http://www.h5py.org/
- [ ] Feather https://github.com/wesm/feather
- [ ] Blaze http://blaze.readthedocs.io/en/latest/index.html

See: https://github.com/frictionlessdata/pilot-dm4t/issues/22#issuecomment-307781463
See: also see frictionlessdata/datapackage-pipelines#66

[2017-09-04 15:51] #9 closed, assigned to roll

[2017-09-05 08:53] roll opened #21 "Update implementations status"
# Overview

We need an update on the status of FD implementations (incl `tableschema-go` review).

[2017-09-05 14:48] roll opened #22 "Update storages to specs-v1 with FK support"
# Overview

The specifications v1 is released (https://blog.okfn.org/2017/09/05/frictionless-data-v1-0/) as well as Python libraries v1. So we need to updated `tableschema` plugins to work with updated core.

# Tasks

- [x] in following to renaming jsontableschema to tableschema we should update plugins
- [x] make all needed changes to support v1
- [x] ensure support for FK when possible

[2017-09-05 14:49] roll commented on #11
MERGED
https://github.com/frictionlessdata/implementations/issues/22

[2017-09-05 14:49] #11 closed, assigned to roll

[2017-09-05 14:54] roll opened #23 "The improbability of being able to validate a date/time/datetime format if the source is excel"
# Overview

We need to test Excel date/time/datetime format on a few levels like `tabulator/tableschema/goodtables`. If improvements needed it probably should be on `tabulator` level.

---

_From @pwalsh_

When the source is Excel, we use xlrd's stuff to turn Excel's number formatting for dates into Python dates. At the time of converting the excel source into a text stream for use in goodtables,

[2017-09-12 17:16] roll opened #24 "Support HTTP headers for data loading?"
_From @BobHarper1_

I get an error whenever I try this with a valid url (that works through my browser), even with the example given on [the blog](http://okfnlabs.org/blog/2016/08/01/using-data-packages-with-pandas.html).

`urllib2.HTTPError: HTTP Error 404: Not Found`

Having had a bit of a search, I would need to set the User-Agent header in the HTTP request `urllib2.Request`. Any idea if I coul

[2017-09-13 12:09] roll opened #25 "Rebase dependent software on specs-v1"
# Overview

We've rebased `tableschema-py/js` and `datapackage-py/js` on specs-v1. There are some dependent software maintained by OKI that should be updated. This is meta issue to track the progress.

# Tasks

- [x] `goodtables-py`
- [x] `tableschema-<storage>`
- [x] `tableschema.plugins`
- [x] `datapackage.load/save`
- [x] `goodtables.io`
- [x] `try.goodtables.io`
- [x] `goodtables-ui`
- [x] `os

[2017-09-14 15:31] roll commented on #21
DONE

[2017-09-14 15:31] #21 closed, assigned to roll

[2017-09-28 15:08] #22 closed, assigned to roll

[2017-10-06 09:18] #25 closed, assigned to roll

[2017-10-06 10:11] pwalsh commented on #25
WELL DONE!

[2017-11-09 13:03] roll opened #26 "Implementations status"
# Frictionless Data Implementations

In a `requirements` section we list all required functionality. Then in per language sections we list **what's missed** for now. Not every missing thing should be implemented right now - some stuff (like foreign keys) could be backlogged for a while for some implementation. But in this document we're trying to draw the whole picture.

## Requirements

High-leve

[2017-11-09 13:10] roll commented on #26
cc @serahrono

[2017-11-09 13:12] roll commented on #26
Java update:
- [x] read and validate a table schema descriptor - not supported remote descriptors - https://github.com/frictionlessdata/tableschema-java/issues/5
- [x] provide an API to interact with a table schema descriptor - fieldNames, primaryKey etc properties? - https://github.com/frictionlessdata/tableschema-java/issues/6
- [x] save a table schema descriptor to a file path - https://github.

[2017-11-09 13:23] roll commented on #26
Go update:
- [x] support all data constraints - https://github.com/frictionlessdata/tableschema-go/issues/42

[2017-11-09 13:46] roll commented on #26
@serahrono @OriHoch @georgeslabreche @danielfireman @kleanthisk10 @cblop @loleg
I think the best way for us to communicate updates will be this issue. So I've moved the hackmd document to here. I've added a few updates as examples (and updated the main issue message)

[2017-11-12 19:58] georgeslabreche commented on #26
Regarding the follow for tableschema-java:

I have yet to convince myself on the best approach to include optional trueValues and falseValues parameters for the Field class’ constructors since the type of the Field may not always be boolean. It’s a bit awkward to have trueValues and falseValues constructor parameters for non boolean Field instanciations. Maybe creating a child class called Boolean

[2017-11-13 15:10] danielfireman commented on #26
tableschema-go v1.0 released: https://github.com/frictionlessdata/tableschema-go/releases

[2017-11-13 15:27] roll commented on #26
@danielfireman
Great! Congratulations!

[2017-11-21 23:44] danielfireman commented on #26
Go update:

* ~~read and validate a data package descriptor, including profile-specific validation via the registry of JSON Schemas~~
* ~~create and edit a data package descriptor, including methods to add and remove resources and validation after editing~~
* ~~provide an API to interact with a data package descriptor~~
* ~~streaming and reading of resources through a table schema with cast on ite

[2017-11-22 15:02] roll commented on #26
@danielfireman
Great. Thanks! I'll review in coming days (hopefully it's not blocking).

[2017-11-23 17:35] danielfireman commented on #26
Go update:

* ~~save a data package descriptor to a file path~~
* ~~save a data package as a zip file on disc~~
* ~~read a zip file containing a data package~~
* ~~cover the latest changes in the specs such as string/array for path etc~~

[2017-11-24 14:47] vitorbaptista opened #27 "Design documentation infrastructure"
# Overview

Frictionless Data implementations is a middle-sized software project containing a lot of libraries of different languages. We need to design documentation infrastructure for it.

Current state - we use repository READMEs for all user-facing documentation.

# Tasks

- [ ] TBD

---

_From @vitorbaptista_

### How to write our technical reference?

Currently, we write the technical refere

[2017-11-24 14:48] roll commented on #6
MERGED
#27

[2017-11-24 14:48] #6 closed, assigned to nobody

[2017-11-24 15:37] roll commented on #27
We had a good discussion with @vitorbaptista on it so summary of my words:

- I don't think there is an isolated question on how to write reference documentation or other kind of documentation. We need to start from high-level goal - what we want to have as a Frictionless Data documentation as a product - guides, tutorials, references etc. At the end - it's just one product for our users.
- Then w

[2017-11-25 05:14] danielfireman commented on #26
Go update:

* ~~support for schema dereferencing before validation~~
* ~~support for multipart resources~~
* ~~support for csv dialects~~

All done. Ready for a complete review :smiley:

[2017-11-28 00:40] georgeslabreche commented on #26
Java update for the **datapackage**:
- [ ] read and validate a data package descriptor, including profile-specific validation via the registry of JSON Schemas - #6
- [ ] create and edit a data package descriptor, including methods to add and remove resources and validation after editing - #7
- [ ] provide an API to interact with a data package descriptor - #8
- [ ] save a data package descriptor t

[2017-11-29 11:03] roll commented on #26
@danielfireman
@georgeslabreche
As discussed with Daniel unfortunately I'll be able to review and commit changes to first post only on next week. For now trying to unblock everyone and looking forward for next week reviews.

[2017-11-30 04:26] georgeslabreche commented on #26
@roll I'll just keep updating that list in the meantime.

[2017-11-30 14:13] OriHoch commented on #26
Php update:
* tableschema: all issues  fixed
* datapackage:
  * ~read a zip file containing a data package?~ done
  * ~support for csv dialects~ done

[2017-12-21 14:40] danielfireman commented on #26
Hi @roll, good morning. Could you please finish the [datapackage-go](github.com/frictionlessdata/datapackage-go) review?

[2017-12-25 13:19] roll commented on #26
@danielfireman
Hi, unfortunately I still can't have allocated time for it.. We're considering it's done.

[2017-12-31 09:07] rufuspollock opened #28 "[epic] Exemplar and test data files and data packages"
Creating a single unified source of test and exemplar data for the frictionless data community.

**UPDATES**: we need two repos one for test data (packages) and one for exemplar data (packages):

* Test repo: https://github.com/frictionlessdata/test-data
* Exemplar repo: https://github.com/frictionlessdata/example-data-packages

Hackmd for drafting READMEs etc:

https://hackmd.io/CYBgnBBGCMCmC0BjY

[2017-12-31 12:19] Stephen-Gates commented on #28
Test data files and data packages could be organised in many different ways. In my [data-package-examples repo](https://github.com/Stephen-Gates/data-package-examples) I created a data package for each data `type`, `format` and `constraint` combination, e.g. [Integer](https://github.com/Stephen-Gates/data-package-examples/tree/master/test-integer) as I was focused on validating data. Would that be

[2017-12-31 13:06] pwalsh commented on #28
How is this different from the test suite repositories we have here?

[2017-12-31 18:46] rufuspollock commented on #28
@pwalsh which test suite repositories? Getting a list of existing ones would be useful 😄 (and was your comment directed to general issue or @Stephen-Gates ?)

For me the motivation of this issue is having **one** clear reference repo with test data -- I know there are various different sources and I'm not sure which is the best one, and I've personally ended up creating my own test data in e.g. ht

[2017-12-31 20:24] Stephen-Gates commented on #28
@pwalsh I had ignored [testsuite-basic](https://github.com/frictionlessdata/testsuite-basic) and [testsuite-extended](https://github.com/frictionlessdata/testsuite-extended) as they were labelled `[Experimental]` and from my perspective not well documented.

Specifically for Data Curator, as the focus was on local processing, I needed datapackage.zip files as that's the only way it can create or o

[2018-01-02 14:32] rufuspollock commented on #28
@Stephen-Gates those are useful and i've added to the research section. If you have any sample data in your repos please link that.

[2018-01-06 04:06] Stephen-Gates commented on #28
@rufuspollock I created these packages to test [validating foreign keys across data packages](https://frictionlessdata.io/specs/patterns/#table-schema:-foreign-keys-to-data-packages)

- https://github.com/Stephen-Gates/data-package-examples/tree/master/donation-codes
- https://github.com/Stephen-Gates/data-package-examples/tree/master/donations

[2018-01-09 18:51] rufuspollock commented on #28
@roll can i get some kind of comment of where we could boot this and start work on it - this is something i think community members (including myself) could contribute to if it was clear where we can start.

Also could you please document all the sources you know of please 😄

[2018-01-10 08:58] roll commented on #28
Existent resources:
- https://github.com/frictionlessdata?utf8=✓&q=example&type=&language=
- https://github.com/frictionlessdata/testsuite-extended/tree/master/data/packages (very limited though)

I think the best repo for this work will be - https://github.com/frictionlessdata/example-data-packages - we could just continue Dan's work.

Related to the Paul's words about duplication with `testsuite

[2018-01-10 09:28] Stephen-Gates commented on #28
Would you like me to contribute the data packages that go with the [Point location data in CSV files guide](https://frictionlessdata.io/guides/point-location-data/) into  https://github.com/frictionlessdata/example-data-packages?

[2018-01-10 12:39] roll commented on #28
If everyone (esp. @rufuspollock as a facilitator of this work) are agreed on the repo selection it would be great! Please let me (or OKI) know if we need to grant some github rights to simplify the process.

[2018-01-11 11:34] Stephen-Gates commented on #28
I've started a PR [#2](https://github.com/frictionlessdata/example-data-packages/pull/2) that currently contains 6 of the 7 examples in the [Point location data in CSV files guide](https://frictionlessdata.io/guides/point-location-data/). I've changed the [goodtables.yml](https://github.com/Stephen-Gates/example-data-packages/blob/b7b1c72aed0939d25073db083dc6b167e7338245/goodtables.yml) file to on

[2018-01-15 18:00] rufuspollock commented on #28
@roll can you clarify the role and purpose of https://github.com/frictionlessdata/testsuite-extended - the README is not super informative to me.

@Stephen-Gates as per the original issue thread I think we probably want two distinct sets of stuff:

- test-data: this is a repo purely for test data for people doing frictionless data work
- exemplars / examples: this is a repo for examples for people

[2018-01-15 21:12] slythfox opened #29 "Swift Implementation Status"
## Overview
I am writing an idiomatic Swift implementation of data package and table schema. I have a partial implementation of these libraries based on my own needs. A foundation is in place which provides a subset of features. There are still some architectural decisions to be revisited, additional tests to be written, and missing features to be implemented. I anticipate that this library will p

[2018-01-15 22:10] Stephen-Gates commented on #28
@rufuspollock just to confirm - https://github.com/frictionlessdata/example-data-packages is for example/exemplar data packages, and not test data?

Suggest there should be data packages supporting
- guides
- patterns

Should the repo contain "experimental" data packages, for example the concepts being proposed in the [Spatial Data Package Research](https://research.okfn.org/spatial-data-package-i

[2018-01-16 19:48] vitorbaptista commented on #27
So I had more time to think of it. There are many parts of the docs, here I'm mostly talking about library reference docs (i.e. what methods exist, their parameters and return values, etc.). Our main issue is that we have multiple programming languages and a tiny team, so anything we do must be easy to maintain.

I couldn't think of anything better than what Twilio does for [their reference docs](

[2018-01-17 08:05] roll commented on #28
@rufuspollock
We have [two levels of the implementations]:(https://github.com/frictionlessdata/implementations#implementation)
- basic
- extended

The structure of test suites reflects it:
- there is `testsuite-basic` for the specs related tests only based on https://frictionlessdata.io/specs/implementation/ (Python/JavaScript/Ruby/PHP)
- there is `testsuite-extended` for the Python extended imple

[2018-01-17 23:32] Stephen-Gates commented on #26
I wonder if it would also be useful for apps that use these implementations to provide an implementation statement. e.g. Data Curator implements:

- [x] data package  (partial)
  - only tabular data packages
  - cannot add properties:
    - `homepage`
    - `image`
    - `keywords`
    - `created`
- [x] data resource (partial)
  - only tabular data packages
  - cannot add properties:
      - `data

[2018-01-22 13:17] rufuspollock opened #30 "[epic] [validation] Unified validation report format for validating metadata and data"
*This epic sets out evolving thoughts on how we do validation of metadata and data in data resources and data packages and the technical framework for that, in particular a common reporting format.*

## Tasks

* [ ] Write user stories
* [ ] Document existing approaches in various libraries
* [ ] Propose a common validation reporting format

## User Stories

As Publisher I want to be able check par

[2018-01-24 09:46] roll commented on #27
@amercader
@serahrono
@vitorbaptista
So related to the documentation infrastructure.

Here is a quick overview of what I was working these few years. My reasoning etc. I've created a quick demo of the final product:

## Maintainable

The main problem with the FD documentation is that there are an overwhelming amount of separate libraries (around 30 for now) written in 9 languages. For now, OKI mai

[2018-01-25 08:43] rufuspollock commented on #28
@Stephen-Gates somehow i missed your comment when you wrote it last week!

Yes, that is right.

I think that makes sense.

If needed for guidance, sure but I note we have not yet resolved on our bundle spec (we really should resolve on a pattern for that https://github.com/frictionlessdata/specs/issues/132

[2018-01-25 09:09] rufuspollock commented on #28
@Stephen-Gates @roll I've now booted a test data repo here: https://github.com/frictionlessdata/test-data

We can start opening issues and consolidating material there for test data.

[2018-01-25 11:05] Stephen-Gates commented on #28
Thanks @rufuspollock I will focus on example data packages for now. There are 2 PRs for review although one has .zips I made before your answer above. I personally will find having .zips helpful and I believe most implementations support it.

I also need some help with instructions for local validation as discussed in https://github.com/frictionlessdata/example-data-packages/issues/6

I've fixed t

[2018-01-26 21:39] Stephen-Gates commented on #28
@roll @rufuspollock as suggested in https://github.com/frictionlessdata/implementations/issues/28#issuecomment-356590828,
would I be able to get rights to https://github.com/frictionlessdata/example-data-packages so it's easier to contribute.

If not, please look at the PR https://github.com/frictionlessdata/example-data-packages/pull/8 and the license proposed in https://github.com/frictionlessda

[2018-02-04 21:19] rufuspollock commented on #28
FIXED.

We've started work on test data repo: https://github.com/frictionlessdata/test-data

@Stephen-Gates @roll  please take a look and open issues for any suggested improvements.

We've got an in progress exemplar repo: https://github.com/frictionlessdata/example-data-packages

[2018-02-04 21:19] #28 closed, assigned to nobody

[2018-02-04 23:46] Stephen-Gates commented on #30
Some user stories at https://github.com/Stephen-Gates/data-quality-pattern/blob/master/user-stories.md

[2018-02-04 23:50] Stephen-Gates commented on #28
Would still like request above resolved https://github.com/frictionlessdata/implementations/issues/28#issuecomment-360911429

[2018-02-05 08:43] roll commented on #28
@Stephen-Gates
I've sent you an invite

[2018-02-15 12:05] philtweir commented on #30
In setting up an open source validation-as-a-service platform, we have needed a consistent JSON validation reporting approach to go across geographical and tabular data, and apply to as-yet-unseen formats as far as reasonably possible.

We have based off the goodtables reporting approach, but in general, have allowed context-specific information contained in appropriate fields (such as error-locat

[2018-02-15 12:08] Stephen-Gates commented on #30
Thanks @philtweir - I'll have a read and comment 👍

[2018-02-15 12:26] Stephen-Gates commented on #30
@philtweir I wonder if we can go one step further for your challenge and fold in data quality and statistics into the `info` type messages?

As discussed in [data quality pattern](https://github.com/Stephen-Gates/data-quality-pattern/blob/master/data-quality-pattern.md), you could have a set of metrics that return
- a measure (e.g. mean),
- a value and type from the data (e.g. minimum, type:date)

[2018-02-15 13:15] philtweir commented on #30
Thanks @Stephen-Gates - your approach to incorporating metrics looks logical to me too -- it's not something we had thought about originally, but I agree that makes a lot of sense. Will bring it up with the Challenge setters at this end! (ping to @martinnaughton also)

[2018-02-21 05:15] rufuspollock opened #31 "[infer] Goals and implementations discussion"
*This is a discussion issue about infer implementations in the context of Frictionless Data*

`infer` is an operator that takes a set of values (or rows = arrays of values) and infers type information. Usually focus is basic types e.g. integer, number, string etc but it could be widened to semantics types.

[code]

Example:

[code]

## Tasks

* [ ] Define needs
* [ ] Research existing work includi

[2018-02-21 06:52] rufuspollock commented on #30
@Stephen-Gates @philtweir I have updated the description quite a bit with more material from good tables report format and pulling out some key parts.

I think the focus at the moment should be the actual error messages rather than the general metadata.

[2018-02-21 06:57] roll commented on #31
@rufuspollock
The latest iteration of `infer` at the FD core libs is `tableschema.js:infer`:
- a fast probabilistic algorithm
- ability to infer formats like `email` etc

---

It should be mentioned that high-level requirements for the infer operation could differ:
- getting the 100% type-values compatibility (the lowest common denominator)
- getting the most reasonable result assuming that there

[2018-02-21 07:07] Stephen-Gates commented on #31
Definitely a supporter of

[2018-02-21 13:09] philtweir commented on #30
Great - thanks @rufuspollock , that's useful clarification.

On your second point, do you mean that the focus should currently be:

 - (within this issue), the reporting structure for error messages (i.e. name) rather than the metadata about the messages (i.e. file-location, associated entity),
or
 - (more generally), on that the primary focus should be enumerating available error messages (https:

[2018-02-21 14:20] vitorbaptista commented on #31
I think the best way to handle these high-level requirements (of 100% type compatibility or not) is to return a set of types and probabilities, as suggested by Rufus on the first message. Something like:

[code]

Maybe it doesn't make sense to even include `string`, as anything can be a string anyway. This return type could be defined in a "base" infer method, with other more user friendly methods

[2018-02-22 09:17] roll commented on #31
@Stephen-Gates

But I think it's kind simple to provide a way to a client to choice on this. E.g. `infer(confidence=100)` could transform a probabilistic algorithm into a full scan algorithm (most reasonable result -> 100% compatibility). So there should be no need to select only one implementation.

I think libs like `chardet` provides good examples for this topic - http://chardet.readthedocs.io/

[2018-02-26 09:21] rufuspollock commented on #30
@philtweir i mean that it should focus on the whole error object including the file location etc (but less on the general metadata e.g. the time, total error count etc)

[2018-02-26 09:31] rufuspollock commented on #31
@vitorbaptista @roll so do you have a suggestion on the signature of an infer function e.g.

[code]

Or should the sample length be merged into the iterator in some way (i.e. you pass an iterator with only a 100 or 1m items).

Should the infer method be more like chardet and be able to be used incrementally e.g.

[code]

[2018-02-26 11:13] roll commented on #31
@rufuspollock
I think it really depends on the software goals. E.g. `tableschema.infer` just gets a path/url/etc (to achieve simplicity). Some extended API could provide a `chardet` way of customizability.

[2018-03-13 10:39] flashharry82 commented on #30
I have been working on our coding challenge with @philtweir and he suggested adding some of our current work-in-progress. The schema that we are planning to use for the challenge is a cut-down version that encompasses a lot of the elements that we would like to use in our final production version. The aim of the cut down version is to make it as straight forward as possible for participants to sub

[2018-03-13 17:50] rufuspollock commented on #30
@flashharry82 thanks for submitting this - really useful. Do you use this on tabular data or any kind of data? Interesting to compare this against good tables current output.

[2018-03-13 18:00] flashharry82 commented on #30
We will be using this on other types of data including geojson. There has also been some discussions around 3D data but that would probably require some further testing.
Goodtables was our starting point and we can easily add in the required structure to make our structure compatible with Goodtables e.g. Putting our single table approach as an array of 1 table and append a table-count of 1 to sati

[2018-03-21 12:49] rufuspollock commented on #30
@flashharry82 that's great. Converging on goodtables format would be good and if you have specific mods it would be good to know what they are so we can modify if need be.

[2018-03-21 17:19] rufuspollock commented on #28
@Stephen-Gates just wanted to flag https://github.com/datapackage-examples - this are more focused on view examples but may be useful too.

[2018-04-06 13:43] roll opened #32 "Rebase on Travis Build Stage for releasing"
# Overview

Lately, Travis has started to mark our releases as errored - https://travis-ci.org/frictionlessdata/datapackage-py/builds/363106512.

It's because we deploy from every build's job. It was only possible way to release previously but now there is Build Stages - https://docs.travis-ci.com/user/build-stages/ - the proper way to do so.

[2019-04-17 11:36] roll opened #33 "Relax dependency versions"
# Overview

Following https://github.com/frictionlessdata/datapackage-py/pull/232

[2019-04-17 12:03] roll commented on #33
@KOLANICH
@organman91
I've released all core libraries with relaxed dependency versions. Could you please try installing it again. Testsuites pass at the moment:
- https://travis-ci.org/frictionlessdata/testsuite-extended
- https://travis-ci.org/frictionlessdata/testsuite-basic/builds/520802506

[2019-04-17 14:30] roll commented on #33
I've tested on a fresh virtualenv and it also works fine.

Please re-open if needed

[2019-04-17 14:30] #33 closed, assigned to nobody

[2019-06-10 14:25] zaneselvans opened #34 "Publish/update FrictionlessData libraries on Anaconda"
# Overview

We want our core libraries be available and working on Anaconda platform.

# Tasks

- [x] tabulator - https://anaconda.org/conda-forge/tabulator
- [x] tableschema - https://anaconda.org/conda-forge/tableschema
- [x] datapacakge - https://anaconda.org/conda-forge/datapackage
- [x] goodtables - https://anaconda.org/conda-forge/goodtables

---

By @zaneselvans

When attempting to create a

[2019-06-11 06:26] roll commented on #34
Thanks. I have to understand how their packaging work.

The dependency is here - https://github.com/conda-forge/tabulator-feedstock/blob/master/recipe/meta.yaml. But I'm not sure whether it's auto populated metadata coming from somewhere or anything

[2019-06-11 15:15] zaneselvans commented on #34
Hmm. I moved all the frictionlessdata python packages into the `pip` section of our `environment.yml` file, and now it's perfectly happy to use Python 3.7, so it does seem like this is something specific to the `conda-forge` setup.

[2019-06-24 07:41] roll commented on #34
Hi @ocefpaf, thanks for publishing FrictionlessData libraries on Anaconda.

Could you please take a look on this maximum dependency versions issue? We have removed dependency declarations like `cchardet >=1.0,<2.0` a few month ago (https://github.com/frictionlessdata/tabulator-py/commit/118093d59024d84e2ccc864cbe5c5179acc454ab) but it still causes problems on Anaconda.

I'm not sure how Anaconda p

[2019-06-24 07:44] roll commented on #34
I'm also having a try to publish `goodtables` here - https://github.com/conda-forge/staged-recipes/pull/8532

[2019-06-24 16:59] ocefpaf commented on #34
Yep. Also, if you open issue there it will be easier for me to see/action on them.

[2019-06-25 11:21] roll commented on #34
@ocefpaf
I've created the issues:
- https://github.com/conda-forge/tableschema-feedstock/issues/16
- https://github.com/conda-forge/datapackage-feedstock/issues/9

If you'd like I can PR also but it seems I need to install some conda software first

[2019-06-27 07:26] roll commented on #34
@zaneselvans
@cmgosnell
Could you please take a look, all our main libs should be now available on Anaconda Cloud and working.

cc @lwinfree

[2019-06-27 07:26] #34 closed, assigned to nobody

[2019-06-28 02:40] zaneselvans commented on #34
Yep! It all seems to be working now.  I've updated our `environment.yml` to pull them with `conda` instead of `pip`. Now we just have one more `pip` based package left, and it will go away when we replace postgres with the datapackage outputs.

[2019-10-04 15:13] danielfireman opened #35 "Test Suites for Go"
Hi @roll , I was looking at the [status page](https://github.com/frictionlessdata/software/blob/master/STATUS.md) and noticed that there are test suites for python, javascript, and ruby.

What is the work involved in getting go into it? Is there some documentation?

[2019-10-05 08:20] roll commented on #35
@danielfireman
I think we have discussed it here - https://github.com/packspec/packspec/issues/4.

For now, this test suite is only implementable for a dynamic language. And it targes more API-compatibility.

Hopefully, we will be able to create in the future a more generic kind of testsuite for all the implementation. More spec/data-centric. Like there are 10 data packages with different features

[2019-10-05 14:12] danielfireman commented on #35
That's right! Sorry for my bad memory.

I took quick look and it looks mostly implementable in Go with a mix of code generation/compilation and reflection. Of course, I would suggest circulating a simple design doc before start this effort in Go. The goal of such a design doc is to discuss the design and/or implementation strategies (at the end of the day, assess its feasibility).

That is super c

[2019-10-12 10:13] ksenita-sonrisa opened #37 "Test issue"
# Overview

Description

[2019-10-12 10:14] #37 closed, assigned to roll

[2019-10-26 11:27] roll commented on #32
DONE

[2019-10-26 11:27] #32 closed, assigned to nobody

[2019-11-01 16:14] roll opened #38 "General goodtables-py update"
# Overview

The `goodtables-py` library is the user of all our underlying stack and a "face" of all Python implementations. It's become slightly rusty code-wise lately because a lot of people have been working on it (including Vitor's massive changes) and it's kinda slow because it's never been optimized to be fast (our focus has always been on minimal memory consumption).

# Tasks

- [ ] clean up

[2019-11-07 16:32] roll opened #39 "Rebase on auto security tracking by Github"
# Overview

Github now helps us to watch security. With new automation, we don't need to follow it manually after this issue is closed.

# Tasks

- [x] enable auto security fixes for all the repos
- [x] fix all the previous found security issues (before auto fixes)
- [ ] fix goodtables.io security issues - https://github.com/frictionlessdata/goodtables.io/pull/337

[2020-02-21 11:14] cschloer commented on #38
How does the CDN get updated? I just noticed that the CDN doesn't have the new updates (unless my browser is caching it, which I suppose is highly possible) and want to flag that as a potential issue (perhaps something to do at the very end of this development, as from a local development perspective it's not that important).

[2020-02-21 11:38] roll commented on #38
@cschloer
It's safer to use versioned distributions from UNPKG - https://unpkg.com/goodtables-ui@1.2.3/dist/goodtables-ui.min.css

[2020-02-21 16:36] cschloer commented on #38
:+1: thanks

[2020-04-13 12:44] roll commented on #26
High-level statuses are here now - https://github.com/frictionlessdata/software/blob/master/STATUS.md

[2020-04-13 12:44] #26 closed, assigned to nobody

[2020-04-13 12:52] roll commented on #39
DONE

will handle goodtables.io separately

[2020-04-13 12:52] #39 closed, assigned to nobody

[2020-04-16 11:10] roll opened #40 "Libraries consolidation for better users/contributors UX"
# Overview

It's a continuation of the discussion - https://github.com/frictionlessdata/project/issues/380. Instead of going into low-level details it's, for now, more focused on the high-level picture.

There are main FD's tools:

![fd](https://user-images.githubusercontent.com/557395/79447268-47aece00-7fe8-11ea-9d2c-ee81aa7d431e.png)

I think in high-level it can be a good map for libraries cons

[2020-04-16 14:21] rufuspollock opened #41 "[idea] Deprecate this issue tracker and merge issues with project tracker"
@roll what do you think of merging the issues here with project tracker and deprecating / deleting this repo?

Why?

* One way to do things is preferable: right now not clear what is here vs project e.g. https://github.com/frictionlessdata/project/issues/380 - should this be here or in project?
* We don't have the volume of issues or the subdivision of teams that would warrant having a separate sy